@import "html/variables";
@import"html/estilos";
@import"html/mediaquery";
@import"html/mixin";

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;


    .bg-violeta {
        background-color: $color-principal;
    }

    header {


        background-color: $color-principal;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        margin: 0px;
        padding: 0px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        img {
            width: 20%;
            margin: 0;
            padding: 30;
            justify-content: space-between;
            display: flex;

        }

        nav {
            list-style: none;
            display: flex;
            gap: 20px;

            div a {
                color: rgb(19, 23, 23);
            }

            ul {
                color: #f8c6b8;
                text-transform: uppercase;
                text-align: left;
                list-style: none;
                display: flex;
                gap: 20px;
            }

            div ul li {
                a:hover {
                    background-color: #868486;
                }
            }
        }
    }

    body {
        text-align: center;
        font-family: "Kadwa", serif;
        font-weight: 20px;
        display: grid;

    }

    .carousel {
        width: 50vh;
        height: 500px;
    }
    
    .carousel-inner {
        height: 100%;
    }

    .titulo {
        padding-left: 15px;
        padding-top: 10px;
        color: #4A148C;
    }

    main {
        background-color: #655669;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        margin: 10px 0px;
        display: flex;
        justify-content: center;
        align-items: center;

        div {
            .img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }

            .gris {
                background-color: #f2e3cffd;
                border-radius: 15%;
                color: $color-principal;
            }
        }
    }

    section {
        margin: 0px 30px;
        padding: 30px;
        display: flex;
        flex-wrap: wrap;

        .imag {
            width: 20%;
            padding: 10%;
            box-sizing: border-box;
        }

        .redondo {
            max-width: 50vh;
            border-radius: 15px;
            padding: 5px;
        }

    }
}